@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-gray-100;
  -webkit-font-smoothing: antialiased;
}

body, input, button {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

a:hover {
  @apply text-gray-400;
}

.navigator {
  @apply absolute;
  @apply bottom-0;
  @apply z-50;
  @apply flex;
  @apply justify-center;
  @apply items-center;
  @apply gap-2;
  @apply bg-purple-800;
  @apply opacity-20;
  @apply cursor-pointer;
  @apply h-16;
  @apply px-8;
  @apply hover:opacity-90;
  @apply text-xl;
}
